<%= render partial: "card", locals: {item: @item, img_width: 300}%>
<% if @item.average_rating %>
  Average Rating: <%= @item.average_rating.round(1) %>/5
<% else %>
  Not Yet Rated
<% end %>

<% @item.all_reviews.each do |review| %>
  <div class="review-<%= review.id %>">
    <%= review.title %>
    <%= review.description %>
    <%= review.title %>
    <%= review.updated_at if review.edited? %>
  </div>
<% end %>
