<%= render partial: "card", locals: {item: @item, img_width: 300}%>

<% @item.all_reviews.each do |review| %>
    <%= tag.div class: "review-#{review.id}" do %>
      <p>Review Title: <%= review.title %></p>
      <p>User: <%= review.username %></p>
      <p><%= review.description %></p>
      <p>Rating: <%= review.rating %>/5</p>
      <% unless review.created_at == review.updated_at %>
        <p>Updated at: <%= review.updated_at %></p>
      <% end %>
    <% end %>
<% end %>
