<%= form_for [@orderitem, @review] do |f|  %>

<p><%= f.label :title %>
<%= f.text_field :title, required: true %></p>

<p><%= f.label :description %>
<%= f.text_area :description, required: true %></p>

<p><%= f.label :rating %>
<%= f.number_field :rating, required: true %></p>

<%= f.submit 'Create Review' %>

<% end %>
